<p-toast position="bottom-right"></p-toast>
<div class="row">
  <div class="col-12 col-md-8">
    <p-fileUpload name="file" [url]="url" [maxFileSize]="maxFileSize" [accept]="accept" (onUpload)="onUpload($event)"
      (onError)="onError()">

      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            <div class="pi pi-check">{{file.name}}</div>
            <div><small>{{file.size}} bytes</small></div>
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
</div>