<div *ngIf="product">
  <div>
    <div class="d-inline-block mr-2">
      Select Category:
    </div>
    <div class="d-inline-block">
      <h2 class="h5 text-orange">{{product.category.categoryName}}</h2>
    </div>
  </div>

  <div>
    <div class="d-inline-block mr-2">
      <span>Selected Product:</span>
    </div>
    <div class="d-inline-block">
      <app-heading [title]="product.productName"></app-heading>
    </div>
  </div>
  <div>
    <div class="d-inline-block mr-2">Customer Rating:</div>
    <div class="d-inline-block">
      <star-rating [value]="product.rating" checkedcolor="orange" uncheckedcolor="gray" size="24px" readonly="true">
      </star-rating>
    </div>
  </div>

  <div class="pt-3">
    <h3 class="text-muted py-2">Description:</h3>
    <div>{{product.description}}</div>
  </div>
  <div class="my-3">
    <button *ngIf="!userForm" class="btn btn-warning" (click)="openForm()">Interested?</button>
  </div>
  <div *ngIf="userForm">
    <div class="row mt-5">
      <div class="col-8">
        <div class="border p-4">
          <h4 class="mb-2">Share your details, we will get in touch with you</h4>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email Id</label>
              <input type="text" name="email" id="email" placeholder="Enter email id" [(ngModel)]="email"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="phone">Phone No</label>
              <input type="text" name="phone" id="phone" placeholder="Enter phone no" [(ngModel)]="phone"
                class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>